// Globals
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$body-font-family: 'Roboto', sans-serif;
$border-radius-root: 6px;
$font-size-root: 16px;

$btn-border-radius: 10px;

$toolbar-border-radius: 10px !default;

$btn-text-transform: capitalize!default;
